<div class="container">
    <h1 class="titleSection mt-4">{{asset.asset_name}} <small>({{asset.id | uppercase}})</small></h1>
    <hr>
    <div class="flex">
      <div class="flex-item">
        <div style="display: block;">
        <canvas baseChart width="100" height="50"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
                    ></canvas>
        </div>
      </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
        <mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>