.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .title{
    font-size: 25px;
    text-align: center;
  }
  .adjustBadges{
    text-align: center;
  }
  .titleSection{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
  }
  .cardShadow{
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.35);
-moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.35);
box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.35);
  }